body {
	margin: 0px;
	background-color:#ffffff; 
	/* font-family: Arial, Verdana, Helvetica; */
	font-family: Tahoma, Verdana, Helvetica;
	font-size : 10pt; 
	line-height: 12pt;
	padding-left: 5px;
	padding-right: 5px;
	
	background-color : white; 
}

h1 {
	padding-left: 10px;
	font-size: 18pt;
	text-align:center;
}

h2 {
	height: 25px;
	border-left: 15px solid #424242;
	border-bottom: 1px dashed black;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 18pt;
}

h3 {
	border-left: 8px solid #efdc73;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 14pt;
}

pre {
	padding: 5px;
	width: 90%;
	margin: 5px auto;
}

blockquote {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3em;
 	background: #F5F5f5;
    padding: 5px;
}

a:link img, a:visited img {
	border-style : none
}


a {
	color: #0068C0;
	font-weight: normal;
	text-decoration: none;
}
a:link {
	text-decoration: none;
	font-weight: normal;
}

a:visited {
	color: #996600;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	
	font-weight: normal;
	/* border-top: 1px solid #aaaaaa; */
	/* border-bottom: 1px solid #aaaaaa; */
	color: #996600;
	text-decoration: underline;
}


p {
	padding-left: 10px;
}

.boxy {
	margin: 20px;
	padding: 10px;
	background-color: #E2EBF2;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 14px;
	color: #000000;
}

.code_box {
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.float_none {
	float: none;
}

.bold {
	font-weight:bold;
}

table {
	margin: 0px; 
	padding: 0px;
	border-collapse: collapse;
}


/*
	Navbar
*/

.navbar {
color:#ffffff;
background-color: #2e5b83;
padding: 10px 20px 10px 10px;
font-size:11pt;
text-decoration:none;
letter-spacing:0;
}

.navbar a {
font-weight: bold;
font-size: 11pt;
color:#ffffff;
text-decoration:none;
}

.navbar a:link {
color:#ffffff;   
text-decoration:none;  
}

.navbar a:visited {
color:#ffffff;   
text-decoration:none; 
}

.navbar a:active {
 text-decoration:none;
}

.navbar a:hover {
 color:#ffffff;  
 text-decoration:underline; 
}

