# BotBrain chat tables -- extracted from SpoonBot BotTypes.cs (all entries; the stock
# rolls only reached 0..127 cheers / 0..47 taunts -- ported the fix, not the bug).
cheer Yeah, that's the ticket!
cheer Woo-hoo!! That gotta hurt!
cheer All right!!
cheer Yooo-Hooo!
cheer How did that feel?
cheer I've had worse
cheer Missed me, sucker!
cheer Dance!
cheer That looks like it's going to stain.
cheer Who gave you the nerve to get killed here?
cheer Geez, are you ok?
cheer Ouch, that HAD to hurt!
cheer Who da man!
cheer Yeh punk!
cheer You all banged up!
cheer Can anyone here play this game?
cheer Waiter! Come clean up this mess!
cheer Take my advice, or I'll spank you without pants
cheer Need a band-aid?
cheer Boo-Ya!!!
cheer Everyone line up single file... I'll get the laserrifle
cheer Sorry.  This is a NO BREATHING zone.  
cheer Hey, drop to the console and type KILL.
cheer Damn, it should be illegal to suck so bad.
cheer Excuse me while I urinate on your corpse.
cheer Hey... found your spleen.
cheer Stick to Duke Nukem.
cheer That was just a sample.
cheer Nice try... A for effort.
cheer Thanks for the weapon.
cheer Just give up.
cheer How pathetic.
cheer Wow, what a shot.  I rule. 
cheer Sorry, didn't see you there. :)
cheer That's right... run... wuss....
cheer Why'd ya try to run %s?
cheer Just like a deer in headlights.
cheer Bahahaha!
cheer Man... I pity you. I really do.
cheer Yeah... you're my favorite.
cheer What do you call that shit?
cheer Learn from that.
cheer Your corpse made a fine screenshot.
cheer You weren't using that weapon anyway.
cheer Oh get up... you aint hurt!  :)
cheer Lovely chalk outline.
cheer Next time... move.
cheer Stick to observer mode.
cheer Love those death animations... you too apparently.
cheer Damn, you smell just like roast chicken.
cheer I love the sound of crunching bone. :)
cheer Burn baby burn.
cheer Dude... your skin blows.
cheer Instant karma.
cheer Does your face hurt? Well, its killin' me!
cheer Ooh, thats gotta hurt!
cheer B-b-b-b-Bad to the bone!
cheer Bull's Eye!
cheer I bet that hurt!
cheer Come meet my 2x4.
cheer Step right up to be knocked right down!
cheer He's dead, Jim!
cheer Keep the change.
cheer Oh, I'm gooood.
cheer There's no reason to act like that!
cheer Anyone got a spachula?
cheer Danger, Will Robinson, danger!
cheer Excuse me, is the circus in town?
cheer Terminated.
cheer BOOM, baby!
cheer You move like peanut butter!
cheer You gonna start playing or what?
cheer Keeping practising.
cheer Your in my house now!
cheer Ain't nobody stoppin me!
cheer Gun wounds again?
cheer Try strafing sometime.
cheer Can I be killed? I'm beginning to wonder.
cheer Next time, make me work for it.
cheer Am I a giant or did everyone else shrink?
cheer Why do you people even bother?
cheer Next time, don't bother dodging. Why prolong your agony?
cheer What happened?  >:)
cheer Mental note to self: Find server with better opponents.
cheer Christ people... try playing with a mouse. 
cheer Nobody can touch me in this level. 
cheer It *hurts* to be this kick-ass!  It *hurts*!
cheer I'm like the freaking energizer bunny over here.
cheer Why do they ALWAYS try to run??
cheer Just like cuttin' down weeds.
cheer Get the hell out of my way!
cheer Play dead... good boy.
cheer Step right up to get knocked right down!
cheer That's right, one free asskicking with every purchase.
cheer Did I get your attention?
cheer Am I evil?  Why, yes I am.
cheer Some people just don't die well.
cheer Hey look, I can chat while running full tilt!
cheer Hey, don't hate me just because you suck.
cheer BOW DOWN!
cheer He shoots... he SCORES!
cheer You should see a doctor about that.
cheer Thank you, come again.
cheer Down boy...
cheer I'm such a bastard. :)
cheer Hope you have death and dismemberment insurance.
cheer Boy, I'm gonna send this demo to Meanstryk. :)
cheer Sorry sir, but thank you for playing.
cheer Come on in... the slaughter's fine. 
cheer Hi... I'm the enemy.
cheer Making people feel bad feels SO good.
cheer Hey nice catch!
cheer Another one bites the dust.
cheer Someone had better dig a mass grave.
cheer Can't pay the bills, but damnit, this I can do.
cheer What the fuck you think YOU'RE doin'?
cheer Come share with me my hurtful thoughts. 
cheer Ha!  Somedays it really pays to be a bot.
cheer You should stick to Chess.
cheer Its frag time. Do you know where you're skill is?
cheer Walk into the light ;-)
cheer He chose...poorly.
cheer I'm immortal!...So far.
cheer Nothing can stop me now.
cheer I must be butter cause I'm on a roll!
cheer DEATH FROM ABOVE!!!
cheer I'd trash talk, but I'm too tired...*yawn*
cheer One small frag for me, one big head wound for you!
cheer All too easy.
cheer Come strong or don't come at all!
cheer Damnit! You messed my hair up!
taunt Hmmm.
taunt Damnit!
taunt Ahhh crap!
taunt Duh!
taunt You Idiot!
taunt AWWWWUUUUHHH!!
taunt What should I say?
taunt Doh!
taunt Ooops!
taunt It's pay-back time!
taunt Elvis has left the building!
taunt Time to change your diaper.
taunt In your face bitch... in your face.
taunt Look out man, I'm back in my zone.  Watch your ass!
taunt NOW who has the big gun mother-fucker?!?
taunt Oh, no wonder... I had the safety on...
taunt Better run. my lag is letting up. 
taunt Look out, I'm just getting warmed up.
taunt Looks like there's a new lawman in town, eh?
taunt Okay, I have your punk-ass figured.
taunt How the fuck do you like it?
taunt No more Mr. Nice Guy.
taunt Oh man, you've had it now.
taunt Feel that?  That's my foot in your ass.
taunt Anyone else hear the theme from Rocky?
taunt Your time's up.
taunt Okay, now I start playing for real.
taunt Hurt much?
taunt My how the mighty have fallen.
taunt Here's where you get off.
taunt This aint no petting zoo.
taunt Ever hear of the golden rule?
taunt Your bullying days are over.
taunt Now the shoe's on the other foot.
taunt Wanna try for two out of three?
taunt Hah!
taunt That's what I THOUGHT... loser.
taunt Memento Mori.
taunt The man who dies with the most toys still dies!
taunt I'd give you the finger, but you shot them off.
taunt Your meaty skull is beautiful to me.
taunt You all saw him...he had a gun!
taunt I'm not gonna kill ya. Like hell I'm not!
taunt Use the Farse, puke!
taunt Ah...the joy of deathmatch.
taunt Where's your crown, King Nothing?
taunt Chill.
taunt I'm spittin' on your corpse!
taunt Exit light, enter night.
taunt Respect my authoritay!
taunt ...and now you're going to die.
